body {
  background-color: #151515;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: calc(100vh - 200px);
  overflow: hidden;
  align-items: center;
}

.carousel-wrapper {
  display: grid;
  width: 100%;
  height: calc(100vh - 200px);
  overflow: hidden;
  position: absolute;
  transition: all 0.5s ease-in-out;
  justify-items: center;
  align-items: center;
}

.carousel-slide {
  display: none;
  position: absolute;
  width: 600px;
  height: 500px;
  background-color: #000000;
  color: #eeeeee;
  border: 2px solid #d9d9d9;
  padding: 9px;
  margin: 3px;
  border-radius: 5px;

  backface-visibility: hidden;

  transition: all 0.5s ease-in-out;
}

.slide-middle {
  filter: blur(0px);
  display: flex;
  flex-direction: column;
  transform: translateX(0) scale(1);
  z-index: 2;
}

.slide-left {
  filter: blur(3.5px);
  display: flex;
  flex-direction: column;
  transform: translateX(-150px) scale(0.9) rotateY(-15deg);
  z-index: 1;
  pointer-events: none;
}

.slide-right {
  filter: blur(3.5px);
  display: flex;
  flex-direction: column;
  transform: translateX(180px) scale(0.9) rotateY(15deg);
  z-index: 1;
  pointer-events: none;
}

.slide-right-2 {
  filter: blur(4px);
  display: flex;
  flex-direction: column;
  transform: translateX(300px) scale(0.8) rotateY(30deg);
  z-index: 0;
  pointer-events: none;
}

button {
  margin-top: 10px;
  cursor: pointer;
}

.right_button,
.left_button {
  pointer-events: all;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: #d9d9d9;
  border: none;
  color: #000000;
  opacity: 1;
  border-radius: 9999999999px;
}

.right_button:disabled,
.left_button:disabled {
  opacity: 0;
}

.carousel_indicators {
  width: 725px;
  pointer-events: none;
  position: absolute;
  top: calc(100vh / 2 - 140px);
  left: calc(100vw / 2 - 365px);
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .carousel-container {
    display: none;
  }
}
