body {
  background-color: #151515;
}

.carousel-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  justify-items: center;
  height: calc(100vh - 30px);
}

.carousel-slide {
  border-radius: 3px;
  background-color: #000000;
  color: #eeeeee;
  border: 2px solid #d9d9d9;
  padding: 9px;

  margin: 3px;
}

.middle-container {
  position: absolute;
  z-index: 8;
  margin-top: calc(100vh / 2 - 250px);
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-container {
  position: absolute;
  margin-top: calc(100vh / 2 - 250px);
  margin-left: 600px;
  width: 600px;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-container {
  position: absolute;
  margin-top: calc(100vh / 2 - 250px);
  margin-right: 600px;
  width: 600px;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-middle {
  width: 600px;
  height: 500px;
  position: relative;
  width: calc(100% - 12px);
}

.slide-left {
  position: absolute;
  width: 500px;
  height: 600px;
  transform: scale(0.75);
}

.slide-right-1 {
  position: absolute;
  width: 500px;
  height: 600px;
  transform: scale(0.75);
  z-index: 2;
}
.slide-right-2 {
  position: absolute;
  width: 500px;
  height: 600px;
  margin-left: 150px;
  z-index: 1;
  transform: scale(0.65);
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}
